/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Matching_Code]
      ,[LINE_DellEMC]
      ,[PRD_DellEMC]
      ,[LINE_VEND]
      ,[PRD_VEND]
      ,[Vendor]
      ,[Area]
      ,[Country]
      ,[Enclosure_Association]
      ,[Boundle_Code]
  FROM [storage_matching_app].[dbo].[MC_V2_Details]
